.offer-bar {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.offer-list {
  display: flex;
  gap: 16px;
  animation: scrollOffers 15s linear infinite;
}

.offer-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 9px;
  background: var(--Background, #F7F8FA);
  color: var(--Text, #111827);
  border-radius: 6px;
  flex-shrink: 0;
}

.offer-icon {
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-text {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  white-space: nowrap;
}
.offer-list:hover {
  animation-play-state: paused;
}
/* Animation for infinite scrolling */
@keyframes scrollOffers {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}